# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
//Junior developers take part in an 18 week software development program involving real life client projects. The program focuses on proficiency in React/Redux and Node.js & Express.

//- Front-end: React.js, Redux, JavaScript ES6, HTML5, CSS3
//- Back-end: Node.js, Express, MongoDB,

//I build full stack web applications with JavaScript.